<RadzenStack>
  <DataGrid @ref=@dataGrid TItem="JsonObject" LoadData="LoadData" >
    
    <Columns>
      <!-- #region Agreement No -->
      <DataGridColumn TItem="JsonObject" Property="AgreementNo" Title="Agreement No" Width="35%" />
      <!-- #endregion  -->

     <!-- #region Installment No -->
      <DataGridColumn TItem="JsonObject" Property="InstallmentNo" Title="Installment No" Width="35%" />
      <!-- #endregion  -->

       <!-- #region Unpaid Amount -->
      <DataGridColumn TItem="JsonObject" Property="UnpaidAmount" Title="Unpaid Amount" Width="35%" Format="N2">
        <FooterTemplate >
          @if (data != null)
          {
            <b>@data.Sum(x => x["UnpaidAmount"]?.GetValue<decimal>() ?? 0).ToString("N2")</b>
          }
        </FooterTemplate>
      </DataGridColumn>
      <!-- #endregion  -->

       <!-- #region Unpaid Date -->
      <DataGridColumn TItem="JsonObject" Property="UnpaidDate" Title="Unpaid Date" Width="35%" />
      <!-- #endregion  -->

       @* <!-- #region Starting Date Handling -->
      <DataGridColumn TItem="JsonObject" Property="StartingDateHandling" Title="Starting Date Handling" Width="35%" />
      <!-- #endregion  -->

       <!-- #region Deadline Date Handling -->
      <DataGridColumn TItem="JsonObject" Property="DeadlineDateHandling" Title="Deadline Date Handling" Width="35%" />
      <!-- #endregion  -->

       <!-- #region Result -->
      <DataGridColumn TItem="JsonObject" Property="IncentiveResult" Title="Incentive Result" Width="35%" />
      <!-- #endregion  --> *@

       <!-- #region Collected Amount -->
      <DataGridColumn TItem="JsonObject" Property="CollectedAmount" Title="Collected Amount" Width="35%" Format="N2">
        <FooterTemplate >
          @if (data != null)
          {
            <b>@data.Sum(x => x["CollectedAmount"]?.GetValue<decimal>() ?? 0).ToString("N2")</b>
          }
        </FooterTemplate>
      </DataGridColumn>
      <!-- #endregion  -->

       <!-- #region Collected Pct -->
      <DataGridColumn TItem="JsonObject" Property="CollectedPct" Title="Collected Pct" Width="35%" >
          <Template Context="row" >
              @if (row["CollectedPct"] != null)
              {
                  <span>@($"{row["CollectedPct"].GetValue<decimal>()}%")</span>
              }
          </Template>
      </DataGridColumn>
      <!-- #endregion  -->

      <!-- #region Incentive Pct -->
      <DataGridColumn TItem="JsonObject" Property="IncentivePct" Title="Incentive Pct" Width="35%" >
          <Template Context="row" >
              @if (row["IncentivePct"] != null)
              {
                  <span>@($"{row["IncentivePct"].GetValue<decimal>()}%")</span>
              }
          </Template>
      </DataGridColumn>
      <!-- #endregion  -->

      <!-- #region Incentive Amount -->
      <DataGridColumn TItem="JsonObject" Property="IncentiveAmount" Title="Incentive Amount" Width="35%" Format="N2" >
        <FooterTemplate >
          @if (data != null)
          {
            <b>@data.Sum(x => x["IncentiveAmount"]?.GetValue<decimal>() ?? 0).ToString("N2")</b>
          }
        </FooterTemplate>
      </DataGridColumn>
      <!-- #endregion  -->
    </Columns>
  </DataGrid>
</RadzenStack>

